In [ ]:
#1 Lakukan analisa mengenai field mana saja yang memiliki data kosong(Nan) lalu Isi data yang kosong tersebut menggunakan nilai mean

In [18]:
import pandas as pd

# Membaca data dari file CSV
data_startup = pd.read_csv('50_Startups.csv')
data_startup.sample(7)

    R&D Spend  Administration  Marketing Spend       State     Profit
3   144372.41       118671.85        383199.62    New York  182901.99
8   120542.52       148718.95        311613.29    New York  152211.77
6   134615.46       147198.87        127716.82  California  156122.51
34   46426.07       157693.92        210797.67  California   96712.80
47        NaN       135426.92              NaN  California   42559.73
30   61994.48       115641.28         91131.24     Florida   99937.59
42   23640.93        96189.63        148001.11  California   71498.49

In [9]:
# Menemukan kolom yang memiliki data kosong (NaN)
missing_data_columns = data_startup.columns[data_startup.isnull().any()].tolist()

In [10]:
# Menghitung nilai mean untuk setiap kolom yang memiliki data kosong
mean_values = {column: data_startup[column].mean() for column in missing_data_columns}

In [14]:
# Mengisi data kosong dengan nilai mean
data_startup.fillna(mean_values, inplace=True)

In [17]:
# Menampilkan hasil pre-processing
print(data_startup.sample(7))

    R&D Spend  Administration  Marketing Spend     State     Profit
28   66051.52       182645.56    118148.200000   Florida  103282.38
12   93863.75       127320.38    249839.440000   Florida  141585.52
17   94657.16       145077.58    282574.310000  New York  125370.37
19   86419.70       153514.11    223582.690222  New York  122776.86
5   131876.90        99814.71    362861.360000  New York  156991.12
4   142107.34        91391.77    366168.420000   Florida  166187.94
46    1315.46       115816.21    297114.460000   Florida   49490.75

In [ ]:
#2 lakukan oneHotEncoder ke field state

In [29]:
import pandas as pd

In [ ]:
# Membaca data dari file CSV
data_startup = pd.read_csv('50_Startups.csv')

In [ ]:
# Melakukan one-hot encoding pada kolom 'State'
data_encoded = pd.get_dummies(data_startup, columns=['State'])

In [30]:
# Menampilkan hasil encoding
print(data_encoded.sample(7))

    R&D Spend  Administration  Marketing Spend     Profit  State_California  \
32   63408.86       129219.61         46085.25   97427.84              True
8   120542.52       148718.95        311613.29  152211.77             False
0   165349.20       136897.80        471784.10  192261.83             False
37   44069.95             NaN        197029.42   89949.14              True
49        NaN       116983.80         45173.06   14681.40              True
4   142107.34        91391.77        366168.42  166187.94             False
42   23640.93        96189.63        148001.11   71498.49              True

    State_Florida  State_New York
32          False           False
8           False            True
0           False            True
37          False           False
49          False           False
4            True           False
42          False           False

In [ ]:
#3 buat field baru yaitu Tax. dimana Tax = (profit + Marketing Spend + administration) * 5%
import pandas as pd

In [ ]:
# Membaca data dari file CSV
data_startup = pd.read_csv('50_Startups.csv')

In [ ]:
# Menghitung Tax berdasarkan rumus yang diberikan
data_startup['Tax'] = (data_startup['Profit'] + data_startup['Marketing Spend'] + data_startup['Administration']) * 0.05

In [31]:
# Menampilkan hasil dengan kolom Tax baru
print(data_startup.sample(7))

    R&D Spend  Administration  Marketing Spend       State     Profit
20   76253.86       113867.30        298664.47  California  118474.03
21   78389.47       153773.43        299737.29    New York  111313.02
4   142107.34        91391.77        366168.42     Florida  166187.94
39   38558.51        82982.09        174999.30  California   81005.76
48     542.05        51743.15              NaN    New York   35673.41
16   78013.11       121597.55        264346.06  California  126992.93
28   66051.52       182645.56        118148.20     Florida  103282.38

In [ ]:
#4 Jalankan standardScaler field-field tersebut

from sklearn.preprocessing import StandardScaler
import pandas as pd

In [ ]:
# Membaca data dari file CSV
data_startup = pd.read_csv('50_Startups.csv')

In [ ]:
# Mengambil kolom numerik untuk scaling
numeric_columns = data_startup.select_dtypes(include=['float64', 'int64']).columns

In [ ]:
# Inisialisasi StandardScaler
scaler = StandardScaler()

In [ ]:
# Fitting dan transformasi data
data_startup[numeric_columns] = scaler.fit_transform(data_startup[numeric_columns])

In [32]:
# Menampilkan hasil scaling
print(data_startup.sample(7))

    R&D Spend  Administration  Marketing Spend       State     Profit
8   120542.52       148718.95        311613.29    New York  152211.77
48     542.05        51743.15              NaN    New York   35673.41
29   65605.48       153032.06        107138.38    New York  101004.64
44   22177.74       154806.14         28334.72  California   65200.33
1   162597.70       151377.59        443898.53  California  191792.06
25   64664.71       139553.16        137962.62  California  107404.34
19   86419.70       153514.11              NaN    New York  122776.86